    <footer class="row">
      <div class="large-12 columns">
        <hr/>
        <div class="row">
          <div class="large-6 columns">
            <p><i class="fi-pencil"></i> with <i class="fi-heart"></i> by <a href="https://twitter.com/c1v0" class="button secondary radius tiny" title="@C1V0 on Twitter"><i class="fi-social-twitter"></i> <strong>@c1v0</strong></a></p>
          </div>
          <div class="large-6 columns">
            <ul class="inline-list right">
              <li><!--<a href="#"><i class="fi-info"></i> How It Works</a>--></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
