    <nav class="top-bar" data-topbar>
      <ul class="title-area">
        <li class="name">
          <h2>
            <a href="http://phoenixgaymers.com" title="{{ site.title }}">
              <i class="fi-shield"></i> {{ site.title }}
            </a>
          </h2>
        </li>
        <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
          <li class="divider"></li>
          <li class="has-dropdown">
            <a href="#" title="Platforms">Platforms</a>
            <ul class="dropdown">
              <li><a href="https://www.facebook.com/notes/phoenix-gaymers/psn-gaymertags/561962070534784" title="PSN gaymertags">PSN</a></li>
              <li><a href="https://www.facebook.com/notes/phoenix-gaymers/xbox-gaymertags/561961747201483" title="Xbox gaymertags">Xbox</a></li>
              <li class="active"><a href="#" title="3DS gaymertags">3DS</a></li>
              <li><a href="https://www.facebook.com/notes/phoenix-gaymers/battlenet-battletags/699148906816099" title="Battle.NET gaymertags">Battle.NET</a></li>
              <li class="divider"></li>
              <li><a href="https://www.facebook.com/groups/phxgaymers/files/" title="All gamertag docs">See all →</a></li>
            </ul>
          </li>
        </ul>
      </section>
    </nav>
