    <div data-remodal-id="login">
      <button data-remodal-action="close" class="remodal-close"></button>
      <h3>{{ site.title }}</h3>
      <p>
        {{ site.description}}<br>
        <em>Facebook login required to load data.</em>
      </p>
      <br>
      <button data-remodal-action="confirm" class="button radius"><i class="fi-social-facebook"></i> Login</button>
      <hr>
      <div class="fb-like" data-href="http://phxgaymers.gamertagdb.com" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
    </div>
